@import '@fontsource/montserrat/300.css';
@import '@fontsource/montserrat/400.css';

:root {
  color: #111;
  font-family: 'Montserrat', sans-serif;
  font-size: 12.5px;
  font-synthesis: none;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: #f4f4f5;
  min-width: 320px;
}

@media print {
  body {
    background: #fff;
  }
}
