@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12.5px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.name {
  text-align: left;
  font-size: 2.89em;
  font-weight: 300;
}

.section-separator {
  text-align: center;
  vertical-align: middle;
  font-size: 1.33em;
}

.company {
  font-size: 1.44em;
  font-weight: 400;
}

.role {
  font-size: 1.22em;
  font-weight: 400;
}

.technologies {
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  padding-top: 0.17em;
  padding-bottom: 0.17em;
}

.contact,
.metadata {
  text-align: right;
  font-size: 1em;
}

.description > ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
  padding-left: 1.5em;
}

.description > ul > li {
  margin-top: 0.34em;
  margin-bottom: 0.34em;
}

.contact > p,
.metadata > p {
  margin-top: 0.17em;
  margin-bottom: 0.17em;
}

.page-break {
  page-break-before: always;
}
